/* Media Querry for 767px */
@media screen and (max-width: 767px){
  .hero {
    grid-template-columns: 1fr;
  } 
  .map{
    order:1;
}
.map-information{
    order:2;   
}

#weert {
  width: 10vw;
  position: absolute;
  top: 6.95vw;
  left: 4.95vw;
  z-index: 2;
}

  #first-map-information {
    background-color: #94c128;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  #second-map-information {
    background-color: #94c128;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }

  #Third-map-information {
    background-color: #94c128;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  #forth-map-information {
    background-color: #94c128;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
}