/* Media Querry for 767px */
@media screen and (max-width: 767px){
  .hero {
    grid-template-columns: 1fr;
  } 
  .map{
    order:1;
}
.map-information{
    order:2;   
}

#weert {
  width: 30vw;
  border: #1d2803 solid 3px;
  position: absolute;
  top: 6.95vw;
  margin-left: 20vw;
  z-index: 2;
}
#Nederweert {
  width: 40vw;
  position: absolute;
  margin-top:20vw;
  margin-left: 8.25vw;
  z-index: 1;
  transition: all 0.3s ease;
}

  #first-map-information {
    background-color: #94c128;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  #second-map-information {
    background-color: #94c128;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }

  #Third-map-information {
    background-color: #94c128;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  #forth-map-information {
    background-color: #94c128;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
}