/*MEDIA QUERIES*/
/* Media Querry for 2100px */
@media screen and (max-width: 2100px) {
  .hero {
    grid-template-columns: 1fr 1fr;
  }

  .mapCase img {
    background-color: transparent;
    transition: 0.5s;
    opacity: 0.7;
    zoom: 80%;
    margin-top: 0vw;
    margin-left: 11vw;
  }

  #first-map-information {
    background-color: #94c128;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  #second-map-information {
    background-color: #94c128;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }

  #Third-map-information {
    background-color: #94c128;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  #forth-map-information {
    background-color: #94c128;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
}
/* Media Querry for 1920px */
@media screen and (max-width: 1920px) {
  .hero {
    grid-template-columns: 1fr 1fr;
  }

  .mapCase img {
    background-color: transparent;
    transition: 0.5s;
    opacity: 0.7;
    zoom: 83%;
    margin-top: 2vw;
  }
  #first-map-information {
    background-color: #94c128;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  #second-map-information {
    background-color: #94c128;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }

  #Third-map-information {
    background-color: #94c128;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  #forth-map-information {
    background-color: #94c128;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
}
/* Media Querry for 1850px */
@media screen and (max-width: 1850px) {
  .hero {
    grid-template-columns: 1fr 1fr;
  }

  .mapCase img {
    background-color: transparent;
    transition: 0.5s;
    opacity: 0.7;
    zoom: 98%;
    margin-top: -1vw;
    margin-left: 8vw;

  }

  #first-map-information {
    background-color: #94c128;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  #second-map-information {
    background-color: #94c128;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }

  #Third-map-information {
    background-color: #94c128;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  #forth-map-information {
    background-color: #94c128;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
}
/* Media Querry for 1700px */
@media screen and (max-width: 1700px) {
  .hero {
    grid-template-columns: 1fr 1fr;
  }

  .mapCase img {
    background-color: transparent;
    transition: 0.5s;
    opacity: 0.7;
    zoom: 100%;
    margin-top: -1vw;
    margin-left: 8vw;
  }

  #first-map-information {
    background-color: #94c128;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  #second-map-information {
    background-color: #94c128;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }

  #Third-map-information {
    background-color: #94c128;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  #forth-map-information {
    background-color: #94c128;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
}
/* Media Querry for 1650px */
@media screen and (max-width: 1650px) {
  .hero {
    grid-template-columns: 1fr 1fr;
  }

  .mapCase img {
    background-color: transparent;
    transition: 0.5s;
    opacity: 0.7;
    zoom: 110%;
    margin-top: -1vw;
    margin-left: 4vw;
  }

  #first-map-information {
    background-color: #94c128;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  #second-map-information {
    background-color: #94c128;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }

  #Third-map-information {
    background-color: #94c128;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  #forth-map-information {
    background-color: #94c128;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
}
/* Media Querry for 1500px */
@media screen and (max-width: 1500px) {
  .hero {
    grid-template-columns: 1fr 1fr;
  }

  .mapCase img {
    background-color: transparent;
    transition: 0.5s;
    opacity: 0.7;
    zoom: 125%;
    margin-top: -1.5vw;
    margin-left: 0vw;
  }

  #first-map-information {
    background-color: #94c128;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  #second-map-information {
    background-color: #94c128;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }

  #Third-map-information {
    background-color: #94c128;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  #forth-map-information {
    background-color: #94c128;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
}
/* Media Querry for 1439px */
@media screen and (max-width: 1439px) {
  .hero {
    grid-template-columns: 1fr 1fr;
  }

  .mapCase img {
    background-color: transparent;
    transition: 0.5s;
    opacity: 0.7;
    zoom: 125%;
    margin-top: -1vw;
    margin-left: 0vw;
  }

  #first-map-information {
    background-color: #94c128;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  #second-map-information {
    background-color: #94c128;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }

  #Third-map-information {
    background-color: #94c128;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  #forth-map-information {
    background-color: #94c128;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
}
/* Media Querry for 1439px */
@media screen and (max-width: 1439px) {
  .hero {
    grid-template-columns: 1fr 1fr;
  }

  .mapCase img {
    background-color: transparent;
    transition: 0.5s;
    opacity: 0.7;
    zoom: 125%;
    margin-top: -1vw;
    margin-left: 0vw;
  }

  #first-map-information {
    background-color: #94c128;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  #second-map-information {
    background-color: #94c128;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }

  #Third-map-information {
    background-color: #94c128;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  #forth-map-information {
    background-color: #94c128;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
}
/* Media Querry for 1439px */
@media screen and (max-width: 1439px) {
  .hero {
    grid-template-columns: 1fr 1fr;
  }

  .mapCase img {
    background-color: transparent;
    transition: 0.5s;
    opacity: 0.7;
    zoom: 125%;
    margin-top: -1vw;
    margin-left: 0vw;
  }

  #first-map-information {
    background-color: #94c128;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  #second-map-information {
    background-color: #94c128;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }

  #Third-map-information {
    background-color: #94c128;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  #forth-map-information {
    background-color: #94c128;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
}
/* Media Querry for 1200px */
@media screen and (max-width: 1200px) {
  .hero {
    grid-template-columns: 1fr 1fr;
  }

  .mapCase img {
    background-color: transparent;
    transition: 0.5s;
    opacity: 0.7;
    zoom: 155%;
    margin-top: -1vw;
    margin-left: -2.5vw;
  }

  #first-map-information {
    background-color: #94c128;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  #second-map-information {
    background-color: #94c128;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }

  #Third-map-information {
    background-color: #94c128;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  #forth-map-information {
    background-color: #94c128;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
}
/* Media Querry for 1024px */
@media screen and (max-width: 1024px) {
  .hero {
    grid-template-columns: 1fr 1fr;
  }

  .mapCase img {
    background-color: transparent;
    transition: 0.5s;
    opacity: 0.7;
    zoom: 160%;
    margin-top: 1vw;
    margin-left: -3vw;
  }

  /*Map Querry for 400px Screen*/
  #first-map-information {
    background-color: #94c128;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  #second-map-information {
    background-color: #94c128;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }

  #Third-map-information {
    background-color: #94c128;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  #forth-map-information {
    background-color: #94c128;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
}

/* Media Querry for 992px */
@media screen and (max-width: 992px) {
  .hero {
    grid-template-columns: 1fr 1fr;
  }

  .mapCase img {
    background-color: transparent;
    transition: 0.5s;
    opacity: 0.7;
    zoom: 160%;
    margin-top: 1vw;
    margin-left: -4vw;
  }

  /*Map Querry for 400px Screen*/
  #first-map-information {
    background-color: #94c128;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  #second-map-information {
    background-color: #94c128;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }

  #Third-map-information {
    background-color: #94c128;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  #forth-map-information {
    background-color: #94c128;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
}
/* Media Querry for 921px */
@media screen and (max-width: 921px) {
  .hero {
    grid-template-columns: 1fr 1fr;
  }

  .mapCase img {
    background-color: transparent;
    transition: 0.5s;
    opacity: 0.7;
    zoom: 160%;
    margin-top: 1vw;
    margin-left: -4vw;
  }

  #first-map-information {
    background-color: #94c128;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  #second-map-information {
    background-color: #94c128;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }

  #Third-map-information {
    background-color: #94c128;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  #forth-map-information {
    background-color: #94c128;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
}
/* Media Querry for 781px */
@container screen and (max-width: 781px) {
  .hero {
    border: 5px #000 solid;
    width: 100%;
    grid-template-columns: 1fr;
  }
  .map{
      order:1;
  }
  .map-information{
      order:2;   
  }

  .mapCase img {
    background-color: transparent;
    transition: 0.5s;
    opacity: 0.7;
    zoom: 215%;
    margin-top: -1vw;
    margin-left: 5vw;
  }
 

  #first-map-information {
    background-color: #94c128;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  #second-map-information {
    background-color: #94c128;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }

  #Third-map-information {
    background-color: #94c128;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  #forth-map-information {
    background-color: #94c128;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  .mapCase img:hover {
  z-index: 20;
  opacity: 1;
  transform: scale(1.1);
}

}
/* Media Querry for 767px */
@media screen and (max-width: 767px){
  .hero {
    grid-template-columns: 1fr;
  }

  .mapCase img {
    background-color: transparent;
    transition: 0.5s;
    opacity: 0.7;
    zoom: 220%;
    margin-top: -2vw;
    margin-left: 5vw;
  }

  #first-map-information {
    background-color: #94c128;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  #second-map-information {
    background-color: #94c128;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }

  #Third-map-information {
    background-color: #94c128;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  #forth-map-information {
    background-color: #94c128;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
}
/* Media Querry for 768px */
@media screen and (max-width: 768px) {
  .hero {
    grid-template-columns: 1fr;
  }
}
/* Media Querry for 600px */
@media screen and (max-width: 600px) {
  .hero {
    grid-template-columns: 1fr;
  }

  .mapCase img {
    background-color: transparent;
    transition: 0.5s;
    opacity: 0.7;
    zoom: 280%;
    margin-top: vw;
    margin-left: -2vw;
  }

  #first-map-information {
    background-color: #94c128;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  #second-map-information {
    background-color: #94c128;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }

  #Third-map-information {
    background-color: #94c128;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  #forth-map-information {
    background-color: #94c128;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
}

/* Media Querry for 544px */
@media screen and (max-width: 544px) {
  .hero {
    grid-template-columns: 1fr;
  }

  .mapCase img {
    background-color: transparent;
    transition: 0.5s;
    opacity: 0.7;
    zoom: 305%;
    margin-top: -0.5vw;
    margin-left: -3vw;
  }

  #first-map-information {
    background-color: #94c128;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  #second-map-information {
    background-color: #94c128;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }

  #Third-map-information {
    background-color: #94c128;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  #forth-map-information {
    background-color: #94c128;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
}

/* Media Querry for 479px */
@media screen and (max-width: 479px) {
  .hero {
    grid-template-columns: 1fr;
  }

  .mapCase img {
    background-color: transparent;
    transition: 0.5s;
    opacity: 0.7;
    zoom: 310%;
    margin-top: 2vw;
    margin-left: -4vw;
  }

  #first-map-information {
    background-color: #94c128;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  #second-map-information {
    background-color: #94c128;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }

  #Third-map-information {
    background-color: #94c128;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0vw;
    z-index: 1;
  }
  #forth-map-information {
    background-color: #94c128;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
}

/* Media Querry for 420px */
@media screen and (max-width: 420px) {
  .hero {
    grid-template-columns: 1fr;
  }

  .mapCase img {
    background-color: transparent;
    transition: 0.5s;
    opacity: 0.7;
    zoom: 312%;
    margin-top: 5vw;
    margin-left: -4vw;
  }

  #first-map-information {
    background-color: #94c128;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  #second-map-information {
    background-color: #94c128;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }

  #Third-map-information {
    background-color: #94c128;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  #forth-map-information {
    background-color: #94c128;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
}

/* Media Querry for 400px */
@media screen and (max-width: 400px) {
  .hero {
    grid-template-columns: 1fr;
  }

  .mapCase img {
    background-color: transparent;
    transition: 0.5s;
    opacity: 0.7;
    zoom: 312%;
    margin-top: 6vw;
    margin-left: -4vw;
  }

  #first-map-information {
    background-color: #94c128;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  #second-map-information {
    background-color: #94c128;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }

  #Third-map-information {
    background-color: #94c128;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  #forth-map-information {
    background-color: #94c128;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
}
/*END OF MEDIA QUERIES*/
